{% extends "base.html" %}

{% block page_title %}

    Lista de Tarefas

{% endblock page_title %}

{% block content %}

    <h1>Lista de Tarefas</h1>

    {% if  todo_list %}
    
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Título</th>
                <th scope="col">Criado em</th>
                <th scope="col">Data de Entrega</th>
                <th scope="col">Concluído em</th>
                <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
                {% for todo in todo_list %}
                    <tr>
                        <th scope="row">{{ todo.id }}</th>
                        <td> {{ todo.titulo }} </td>
                        <td> {{ todo.data_criacao }} </td>
                        <td> {{ todo.data_entrega }} </td>
                        <td> {{ todo.data_conclusao|default:"-" }} </td>
                        <td>
                            <a 
                                href="{% url "todo_complete" pk=todo.pk %}" 
                                class="btn btn-primary btn-sm {% if todo.data_conclusao %} disabled {% endif %}">
                                Concluír
                            </a>
                            <a 
                                href="{% url "todo_update" pk=todo.pk %}" 
                                class="btn btn-secondary btn-sm {% if todo.data_conclusao %} disabled {% endif %}">
                                Editar
                            </a>
                            <a href="{% url "todo_delete" pk=todo.pk %}" class="btn btn-danger btn-sm">Excluir</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info" role="alert">
            Nenhuma tarefa encontrada.
        </div>

    {% endif %}

    <a href="{% url 'todo_create' %}" class="btn btn-primary">Nova Tarefa</a>

{% endblock content %}